$bg-dark-primary    : #181818;
$bg-dark-secondary  : #232323;
$bg-orange-primary  : #ec9614;
$bg-white-primary   : #ffffff;
$bg-white-secondary : #eeeeee;
$bg-white-third     : #e1e1e1dc;
$bg-green-primary   : #8bc34a;
$bg-green-secondary : #1ba91b;
$bg-green-third     : #158a15;
$bg-purple-primary  : #272237;
$bg-purple-secondary: #40375c;

$h1-desktop : 60px;
$h1-laptop  : 45px;
$h1-tablet  : 41px;
$h1-mobile  : 38px;